@shadow-content: 0 0 5px #000; /*shadow box*/
/*sadow form [input, submit] */
@shdow-input: 0px 1px 0 0.00 rgba(255,255,255,0.25);
@shdow-input-in: inset 1px 0 1px 0.0 rgba(0,0,0,0.6);

.footer_inner{
	margin-top: 76px;
}
	.bar {
		margin-right: 80px;
		float: left;
		width: 265px;
		& div{
			
			background: #fff;
			box-shadow: @shadow-content;
			-moz-box-shadow: @shadow-content;
			-webkit-box-shadow: @shadow-content;
		}
		& div h3{
			font:bold 16px/48px "MyriadProRegular", sans-serif; 
			color: #494848;
			text-align: center;
		}
		& p {
			font: 12px 'Myriad Pro', sans-serif;
			color: #666666;
			margin-top:20px;
		}	
	}
	.search{
		& input{
			height: 33px;
			border: none;
			background: rgba(62, 60, 61, 0.25);	
			box-shadow: @shdow-input,@shdow-input-in;
			-moz-box-shadow: @shdow-input,@shdow-input-in;
			-webkit-box-shadow: @shdow-input,@shdow-input-in;
			font: 600 italic 14px 'Myriad Pro', sans-serif;
			color: #d42819;
			margin-top: 25px;
		}
		& input.search_text {
			width: 212px;
			padding-left: 10px;
		}
		& input.go{
			width: 39px;
			height: 35px;
			outline: none;
			cursor: pointer;
		}
	}


